section {
	display: none;
}

section.active {
	display: block;
}

#mainFrame {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 1000px;
	gap: 50px;
}

.postCard {
	flex-wrap: wrap;
	width: 500px;
	height: 280px;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	padding: 5px;
	word-break: break-all;
	overflow-y: scroll;
}

.postId {
	display: flex;
	justify-content: center;
	font-size: 1.2rem;
	color: blue;
	height: 20px;
	width: 100%;
}

.postBody {
	font-size: 1rem;
	color: black;
	height: 60px;
	width: 100%;
}

.postDate {
	display: flex;
	justify-content: center;
	font-size: 1.1rem;
	color: black;
	height: 20px;
	width: 100%;
	font-style: italic;
}
